:root {

}

* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.words-container {
    display: grid;

    flex-wrap: wrap;

    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 1rem;
}

.word-button {
    padding: 0.5rem 1rem;

    border: 2px solid black;
    border-radius: 0.1rem;

    background-color: black;
    color: white;
}

.word-button.active {
    background-color: white;
    color: black;   
}

.submit-button {
    padding: 0.5rem 1rem;
}

.battle-container {
    display: none;
    flex-direction: column;
    width: 100%;
    /* border: 2px solid blue; */
}

.timer-section {
    display: flex;

    align-items: center;
    padding: 1rem;

    height: 80px;
    width: 100%;
    background-color: gray;
}

.battle-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    background-color: white;
    

    gap: 2rem;
    padding: 2rem 1rem;
}

.left-battle {
    background-color: white;
    width: 100%;
    padding: 5rem;

    border: 2px solid black;

    font-size: 2rem;
}

.right-battle {
    background-color: white;
    width: 100%;
    padding: 5rem;


    border: 2px solid black;

    font-size: 2rem;
}

.final-words {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 1rem;
    gap: 1rem;
}

@media (min-width: 600px) {
    .words-container {
        display: flex;
        grid-template-columns: repeat(4, 1fr);
    }

    .battle-section {
        flex-direction: row;
    }
}